html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    transition: background-color 250ms;
}

#bar {
    background-color: #bbb;
    height: .5rem;
    width: 0%;
    transition: all 1s linear;
}

#cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    border: 2px solid #fff;
    padding: 0 1rem .25rem 1rem;
    border-radius: 1.25rem;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

#start:hover {
    background-color: #fff;
    color: #777;
}

.right-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    right: 0;
    width: 2rem;
    z-index: 1001;
}

.bg_selector {
    width: 1rem;
    height: 1rem;
    border-radius: 25%;
    border-color: rgba(255, 255, 255, .2);
    border-width: 3px;
    border-style: solid;
    margin-top: .5rem;
    transition: all .3s linear;
    cursor: pointer;
}

.bg_selector:hover {
    border-color: #fff;
}

.bg_selector.active-selector {
    border-color: #fff;
}

.holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
}

.circle-holder {
    flex-direction: column;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.circle.animate {
    border-style: solid;
    border-color: #D8C99B;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    border-width: 30px;
    animation: heartbeat 16s infinite ease-in-out;
}

.text {
    color: #fff;
    transition: 200ms;
}

.text.animate::before {
    transition: 500ms;
    font-size: 3.25rem;
    content: '';
    opacity: 0;
    animation: text 16s infinite ease-in-out, fade 4s infinite ease-in-out;
}

.tag {
    color: #fff;
    text-align: center;
}

.tag__upper {
    margin-top: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, .4);
}

#timer {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', monospace;
    font-size: 2.5rem;
    font-feature-settings: 'tnum' 1;
}

input[type="radio"] {
    display: none;
}

label div {
    border: 2px solid #fff;
    display: inline-block;
    padding: .375rem .75rem;
    margin-bottom: .75rem;
    color: #fff;
    width: 3.75rem;
    text-align: center;
    cursor: pointer;
}

#length__selector label:first-child div {
    border-radius: 6px 0 0 6px;
}

#length__selector label:last-child div {
    border-radius: 0 6px 6px 0;
}

@keyframes heartbeat {
    from {
        transform: scale(0.2);
        border-color: rgba(255, 255, 255, .2);
    }
    25% {
        transform: scale(1);
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 1);
    }
    50% {
        transform: scale(1);
        background-color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }
    75% {
        transform: scale(0.2);
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, .2);
    }
    to {
        transform: scale(0.2);
        border-color: rgba(255, 255, 255, .2);
    }
}

@keyframes text {
    from {
        content: 'breathe in';
    }
    50% {
        content: 'hold breath';
    }
    51% {
        content: 'breathe out';
    }
    99% {
        content: 'hold breath';
    }
    to {
        content: 'hold breath';
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    25% {
        opacity: 1
    }
    75% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 400px) {
    .text::before {
        font-size: 2.5rem;
    }
    .circle {
        width: 100px;
        height: 100px;
    }
    .right-menu {
        display: none;
    }
}

@media screen and (max-height: 400px) {
    .circle {
        max-width: 80px;
        max-height: 80px;
    }
    #bar {
        display: none;
    }
    .tag__upper {
        display: none;
    }
    .text::before {
        font-size: 2rem;
    }
    #timer {
        font-size: 1.75rem;
    }
    .bg_selector {
        margin-top: 1rem;
    }
}
